<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    {% block content %}
        Too crowded?
        <p><a href="{% url 'corona_data' %}">Check out data in a table</a></p>
    {% endblock %}


    <canvas id="myChart"></canvas>
    <canvas id='visu'></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{ countries|safe }},
            datasets: [
                {
                    label: 'Total cases per country',
                    backgroundColor: 'blue',
                    borderColor: 'blue',
                    data: {{ total_cases|safe }}
                }
        ]},

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMax: 200000
                    }
                }]
            }
        }
    });
    </script>

    <script>
        var ctx = document.getElementById('visu').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{ countries|safe }},
            datasets: [
                {
                    label: 'Total deaths per contry',
                    backgroundColor: 'red',
                    borderColor: 'red',
                    data: {{ total_deaths|safe }}
                }
        ]},

        // Configuration options go here
        options: {}
    });
    </script>


</html>
